body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1118px;
}
#u4591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1118px;
}
#u4591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:838px;
}
#u4592 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:136px;
  width:471px;
  height:838px;
}
#u4592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:25px;
}
#u4593 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:136px;
  width:471px;
  height:25px;
}
#u4593_img.selected {
}
#u4593.selected {
}
#u4593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u4594 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:173px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#FFFFFF;
}
#u4594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E4E4E4;
}
#u4595 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:181px;
  width:97px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E4E4E4;
}
#u4595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4596 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:278px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4597 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:360px;
  width:390px;
  height:46px;
}
#u4597_input {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4598 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:429px;
  width:98px;
  height:46px;
}
#u4598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:94px;
  word-wrap:break-word;
}
#u4599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4599 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:565px;
  width:390px;
  height:46px;
}
#u4599_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  word-wrap:break-word;
}
#u4600 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:429px;
  width:275px;
  height:46px;
}
#u4600_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4601 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:498px;
  width:323px;
  height:16px;
}
#u4601_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u4601_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4602 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:623px;
  width:390px;
  height:46px;
}
#u4602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  word-wrap:break-word;
}
